body{
    font-family: 'Montserrat', sans-serif;
    background-color: #222222;
}

.jumbotron{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: white;
    background-color: #424242;
    box-shadow: 0rem 0rem 2rem black;
    text-shadow: 0rem 0rem 1rem black;
}

nav{
    font-size: 1.25rem;
    text-shadow: 0rem 0rem 1rem black;
    box-shadow: 0rem 0rem 3rem black;
}

.navbar-brand{
    font-size: 3rem;
    font-family: 'Lobster', cursive;  
}

.bg-light {
    background-color: #424242!important;
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0rem 0rem 1rem white;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0rem 0rem 1rem white;
}

.connect:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0rem 0rem 1rem white;
    background-color: #ffffff00;
    border-color: #ffffff00;
}

.connect:active {
    border: none;
}

.connect {
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(255, 255, 255);
    text-shadow: 0rem 0rem 1rem black;
    background-color: #ffffff00;
}

.modal-content {
    background: #424242;
    box-shadow: 0rem 0rem 3rem black;
    text-shadow: 0rem 0rem 1rem black;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.w-100 {
    margin-left: 15%;
    width: 70%!important;
    border-radius: 0.33rem;
}

.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}

.invisible{
    display: none;
}

/*.footer{
    width: 100%;
    background: #424242;
    height: 2.5rem;
    box-shadow: 0rem 0rem 3rem black;
}

.footertext{
    text-align: center;
    font-size: 1rem;
    color: white;
    text-shadow: 0rem 0rem 1rem black;
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
    padding-top: 0.5rem;
}*/

.card, .list-group-item {
    background-color: #383d41; 
}