body{
    font-family: 'Montserrat', sans-serif;
    background-color: #424242;
}

.jumbotron{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12%;
    margin-right: 12%;
}

nav{
    font-size: 1.5rem;
}

.navbar-brand{
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    width: 10rem;
}

.bg-dark{
    background-color: #222222;
}